

<div class="container">

  <div *ngIf="lista.length>0; else ass">
    <p>Lisa zadań do wykonania</p>
    <ul>
      <li *ngFor="let item of lista">
        {{item}}
        <button (click)="zadaniaWykonane(item)">zrobione</button>
        <button (click)="usunZadanie(item)">usun</button>
      </li>
    </ul>


  </div>
<ng-template #ass>
<div>Nie ma zadań do wykonania!</div>
</ng-template>


  <div *ngIf="lista.length<10; else inne">
    <p>Dodaj zadanie do wykonania!</p>
    <input [value]="wartoscInputa" (input)="wykonanieInputa($event)">
    <button (click)="dodajZadanie()">Wykonaj</button>
  </div>
<ng-template #inne>Moze juz Ci wystarczy?</ng-template>

  <div *ngIf="listaWykonana.length>0; else lees">
    <p>Lista zadań wykonanych</p>
    <p>Licznik zadań wykonanych: <b>{{i}}</b></p>
    <ul>
      <li *ngFor="let zadanie of listaWykonana">
          {{zadanie}}
          <button (click)="usunZadanieWykonane(zadanie)">usun</button>
          <button (click)="powrotDoListy(zadanie)">Powrót!</button>

      </li>
    </ul>
  </div>
  <ng-template #lees>Nie ma zadań do wykonania!</ng-template>



</div>
<br><br>

<div *ngIf="listaUsunieta.length>0">Lista zadań niezrobionych a usunietych
<ul>
    <li *ngFor="let usuniete of listaUsunieta">
        {{usuniete}} <button (click)="zwolnijPamiec(usuniete)">Zwolnij pamięć</button>
                  <button (click)="powrotZadaniaDoWykonania(usuniete)">Powrot!</button>
    </li>
</ul>
</div>


<div *ngIf="listaUsunietaZrobiona.length>0">Lista zadan zrobionych i usunietych!
  <ul>
    <li *ngFor="let usunieteZrobione of listaUsunietaZrobiona">
          {{usunieteZrobione}}
          <button (click)="zwolnijPamiec(usunieteZrobione)">Zwolnij pamięć</button>
          <button (click)="powrot(usunieteZrobione)">Powrot!</button>
    </li>
  </ul>
</div>

<div *ngIf="historia.length>0">Historia
  <ul>
    <li *ngFor="let historry of historia">
        {{historry}}
    </li>
  </ul>
</div>
